<div *ngIf="auth.loggedIn">

    <header class="text-secondary" style="background-image: url('../assets/computer2.jpg'); background-size: 100%; ">
        <div class="container text-center" style="color:#6c757d">
            <h1>Scam Protect</h1>
        </div>
    </header>

    <section>
        <h1 class="text-center">{{pageTitle}}</h1>
    </section>

    <section>
        <div class="container text-center" style="color:#6c757d">
            <button mat-raised-button color="warn" (click)="_getVtuList()">Get list of accounts</button>
        </div>
    </section>

    <app-loading *ngIf="loading"></app-loading>

    <ng-template [ngIf]="utils.isLoaded(loading)">
        <ng-template [ngIf]="vtuList">
            <ng-template [ngIf]="vtuList.length">

                <!-- Vtus listing -->
                <section class="list-group">
                    <a *ngFor="let vtu of vtuList" class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{vtu.email}}</h5>
                        </div>
                    </a>
                </section>
            </ng-template>

            <section>
                <!-- No upcoming public vtus available -->
                <p *ngIf="!vtuList.length" class="alert alert-info text-center">
                    No accounts available.
                </p>
            </section>
        </ng-template>

        <section>
            <!-- Error loading vtus -->
            <p *ngIf="error" class="alert alert-danger text-center">
                <strong>Oops!</strong> There was an error retrieving account data.
            </p>
        </section>

    </ng-template>

</div>